    <!DOCTYPE html>
    <html>
        <head>
            <title>Registration Page</title>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
            <link rel="stylesheet" href="css/registration.css">
            <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
            <link rel="shortcut icon" type="image/png" href="assets/favicon.png">
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
            <script type="text/javascript" src= "js/smoothscroll.js"></script><script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
            <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
            <script type="text/javascript" src= "js/smoothscroll.js"></script> 
            <script src = "js/script.js"></script>
        </head>
        <body>
            <div id = "wrapper">
                <div id = "first-slide">
                    <div id = "first-content">
                        <div id = "first-header">
                            <div id = "textBox">
                        <div>
                            <p id = "LogInFont">Registration</p>
                            <div>
                                <form action="/signup" method="post">
                                    <!--
                                    <p>Email Address <input name='email'></input></p>
                                    <p>Choose Your Password <input type="password" name="password"></input></p>
--
                                    <p class = "LogInusername"> First Name <input name='name'></input> </p>
                                    <p class = "LogInusername"> Last Name <input name='last'></input> </p>
                                    <p class = "LogInusername"> Choose Your Username <input  name="email"></input> </p>
                                    <p class = "LogInusername"> Choose Your Password <input type="password" name="password"></input> </p>
                                    <p class = "LogInusername"> Phone Number <input name ='phone'></input> </p>
                                    <p class = "LogInusername"> Email Address <input name='email'></input> </p>
                                    <p class = "SubmitBox">  <button type="submit" class="btn btn-warning btn-lg">Signup</button> </p>
                                   -->
            <p class = "LogInusername"> First Name <input name='name'></input> </p>
             <p class = "LogInusername"> Last Name <input name='last'></input> </p>
            <p class = "LogInusername"> <label>Email</label>    <input type="text"  name="email"></p>
            <p class = "LogInusername"> <label>Password</label> <input type="password"  name="password"></p>
            <p class = "LogInusername"> Email Address <input name='emailme'></input> </p>
         <p class = "LogInusername"> Phone Number <input name ='phone'></input> </p>


        <button type="submit" class="btn btn-warning btn-lg">Signup</button>

                                </form>
                            </div>
                        </div>
                    </div>  
                        </div>
                    </div>
                </div>
                <nav id = "navbar">
                    <!-- <a class = "smoothScroll" href = "#first-slide"> -->

                    <a href = "index.html"><img src = "assets/home_icon.png" id="button3img"></a>
                     <br>
                        <div id="button3">
                            <a href = "index.html">Home</a>
                        </div>
                    <!-- </a> -->
                    <div id = "navbar-items">
                       
                    </div>
                </nav>
            </div>
        </body>
    </html>